{
  "presets": [
    "latest"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "add-module-exports",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    ["transform-builtin-extend", {
      globals: ["Error"]
    }]
  ]
}
